body{
    background-color: #0e7e12;
    font-family: arial;
}

.carta{
    width: 300px;
    height: 450px;
    background-color: #FFFFFF;
    border-radius: solid green20px;
    margin: 5% auto;
    font-size: 10px;
    border: .5em solid navy;
}


.simboloArriba{   
    display: inline-block;
    position: relative;
    left: 10px;
    color: red;
    font-size: 10em;
    width: 60px;
    height: 100px;
}


.numero{
    color: white;
    font-size: 13em;
    width: 120px;
    margin: 50px auto;
    text-align: center;
}


.simboloAbajo{
    float: right;
    position: relative;
    right: 10px;
    bottom: -15px;
    color: red;
    font-size: 10em;
    width: 60px;
    height: 100px;
    transform: rotate(-180deg)
}


.contenedor-boton{
    margin: auto;
    width: 300px;
    text-align: center;
}


.boton{
    width: 150px;
    font-size: 22px;
    border-radius: 5px;
    padding: 5px;
}