@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: #143614;
  font-family: arial;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.carta {
  width: 300px;
  height: 450px;
  background-color: #ffffff;
  border-radius: solid green20px;
  margin: 10% auto;
  font-size: 10px;
  border: 0.5em solid navy;
}

.simboloArriba {
  display: inline-block;
  position: relative;
  left: 10px;
  color: red;
  font-size: 10em;
  width: 60px;
  height: 60px;
}

.numero {
  color: white;
  font-size: 13em;
  width: 120px;
  margin: 50px auto;
  text-align: center;
}

.simboloAbajo {
  float: right;
  position: relative;
  right: 10px;
  bottom: -15px;
  color: red;
  font-size: 10em;
  width: 60px;
  height: 100px;
  transform: rotate(-180deg);
}

.contenedor-boton {
  margin: auto;
  width: 300px;
  text-align: center;
}

.boton {
  width: 150px;
  font-size: 22px;
  border-radius: 5px;
  padding: 5px;
}
